<div id="wrapper">
    <div id="logo">rsiProgress</div>

    <div id="content">
        <div id="menu">
            <ng-container *ngFor="let entry of menuEntries">
                <div class="item" *ngIf="!entry.authMode || entry.authMode == auth.authMode" [routerLink]="entry.link" routerLinkActive="active">
                    {{entry.name}}
                </div>
            </ng-container>

            <div class="item" (click)="auth.logout()" *ngIf="auth.isAuthorized()">Logout</div>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div id="footer">
        <a href="/privacy">Privacy Policy</a>
    </div>
</div>