@desktop:   ~"only screen and (max-width: 1199px)";
@tablet:    ~"only screen and (max-width: 959px)";

#wrapper {
    width: 70%;
    margin: 0px auto;

    @media @desktop {
        width: 85%;
    }

    @media @tablet {
        width: 100%;
    }
}

#logo {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12px;
}

#content {
    padding: 8px 20px 20px 20px;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#menu {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    border-bottom: 1px solid black;
    
    * {
        box-sizing: border-box;
    }

    .item {
        margin: 15px 0px 15px 0px;
        padding: 0px 25px 0px 25px;

        border-right: 1px solid black;
        outline: none;

        cursor: pointer;

        text-transform: uppercase;

        &.active, &:hover {
            text-decoration: underline;
        }

        &:last-child {
            border: 0px;
        }
    }
}

#footer {
    margin-top: 10px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 12px;

    a {
        color: rgba(0, 0, 0, 0.7) !important;
        text-decoration: none;
    }
}