.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span {
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }

        i {
            color: rgb(80, 80, 80);
            font-size: 20px;
            margin: 2px;
            cursor: pointer;
        }
    }

    .desc {
        margin-top: 8px;
        font-size: 14px;
    }
}