<div class="wrapper">
    <div class="bar" (mouseleave)="tempValue = -1">
        <span (click)="setValue(0)" (mouseenter)="tempValue = 0">0</span>

        <i class="fa" aria-hidden="true" *modelRepeat="10; let i = index" attr.data-index="{{i+1}}"
            (click)="setValue(i+1)" (mouseenter)="tempValue = i+1"
            [class.fa-circle-thin]="i+1 > getValue()" [class.fa-circle]="i+1 <= getValue()"></i>

        <span (click)="setValue(10)" (mouseenter)="tempValue = 10">10</span>
    </div>

    <div class="desc">{{desc}}</div>
</div>