<div class="wrapper">
    <div class="container" *ngIf="user">
        E-Mail:<br />
        <input type="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation-alert">
            <div *ngIf="email.errors.pattern">E-Mail is invalid</div>
            <div *ngIf="email.errors.required">E-Mail is required</div>
        </div>
        <br /><br />

        Name:<br />
        <input type="text" [(ngModel)]="user.name"  #name="ngModel" required />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validation-alert">
            <div *ngIf="name.errors.required">Username is required</div>
        </div>
        <br /><br />

        Password:<br />
        <input type="password" placeholder="Current password" [(ngModel)]="oldPassword" minlength="4" />
        <br />
        <input type="password" placeholder="New password" [(ngModel)]="newPassword" #password="ngModel" minlength="4" />
        <br />
        <input type="password" placeholder="Repeat password" ngModel="" #passwordRep="ngModel" minlength="4" />

        <div class="validation-alert">
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.minlength">Password has to be at least 4 characters long</div>
            </div>
        
            <div *ngIf="passwordRep.invalid && (passwordRep.dirty || passwordRep.touched)">
                <div *ngIf="password.value != passwordRep.value">Passwords do not match</div>
            </div>
        </div>

        <button (click)="save()">Save</button>
    </div>

    <br />

    <div class="container">
        <button (click)="deleteSecurity = true" *ngIf="!deleteSecurity" class="danger">Delete account</button>
        <div *ngIf="deleteSecurity">
            Are you sure?
            <button (click)="deleteSecurity = false" class="small">No</button>
            <button (click)="deleteAccount()" class="small danger">Yes</button>
        </div>
    </div>
</div>