<div class="wrapper">
    <div class="header" *ngIf="!canInsert">Come back tomorrow!</div>
    
    <ng-container *ngIf="canInsert">
        <div class="header">What did you do today?</div>

        <div class="category-list-wrapper">    
            <div class="category-list">
                <ng-container *ngFor="let category of categories">
                    <div class="category" *ngIf="isSelecting || selections.indexOf(category.name) > -1">
                        <div class="name">
                            <input type="checkbox" value="{{category.name}}" (change)="selectionChange($event.target)"
                                [attr.checked]="selections.indexOf(category.name) > -1 ? 'checked' : null" *ngIf="isSelecting" />
                            <span>{{category.name}}</span>
                        </div>

                        <ng-container *ngIf="!isSelecting">
                            <vote-bar (value)="category.time = $event" desc="How much did you do?"></vote-bar>
                            <vote-bar (value)="category.skill = $event" desc="How good were you?"></vote-bar>
                            <vote-bar (value)="category.pain = $event" desc="How much pain did you have afterwards?"></vote-bar>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
        
        <div class="footer" *ngIf="!isAdding">
            <div class="text-button add-category-button" *ngIf="isSelecting" (click)="isAdding = true">Add category</div>
            <div class="text-button add-category-button" *ngIf="!isSelecting" (click)="back()">Back</div>
            &ensp;
            <div class="text-button add-category-button" [class.disabled]="selections.length === 0" (click)="next()">Next</div>
        </div>

        <div class="add-category" *ngIf="isAdding">
            <input type="text" placeholder="Category name" [(ngModel)]="newCategoryName" />
            <div class="text-button" (click)="addCategory()">Add</div>
            <div class="text-button" (click)="newCategoryName = ''; isAdding = false">Cancel</div>
        </div>
    </ng-container>
</div>