@desktop:   ~"only screen and (max-width: 1199px)";
@tablet:    ~"only screen and (max-width: 959px)";

.wrapper {
    margin-top: 80px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .category-list {
        width: 300px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        .category {
            padding: 12px;

            display: flex;
            flex-direction: column;

            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            &:last-of-type {
                border-bottom: 0px;
            }

            .name {
                display: flex;
                flex-direction: row;
                align-items: center;

                input {
                    margin-right: 12px;
                }
            }

            vote-bar {
                margin-top: 20px;
            }
        }
    }
    
    .text-button {
        font-size: 14px;
        text-align: center;
        text-decoration: underline;
        font-weight: 200;

        cursor: pointer;

        &.disabled {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.4);
            cursor: default;
        }
    }

    .add-category-button {
        margin-top: 25px;
    }

    .add-category {
        margin-top: 25px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .text-button {
            margin-left: 8px;
        }

        input {
            outline: none;
            
            @media @tablet {
                width: 200px;
            }
        }
    }
}