select {
    cursor: pointer;
    outline: none;
}

.tab-menu {
    margin-bottom: 12px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tab-options {
    margin-right: 26px;

    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    cursor: pointer;

    span.active, span:hover {
        color: black;
    }
}

.month-options {
    margin-left: 26px;
}