<div class="tab-menu">
    <div class="tab-options">
        <span [class.active]="isCalendar" (click)="showCalendar()">Calendar</span>
        |
        <span [class.active]="!isCalendar" (click)="showAnalysis()">Analysis</span>
    </div>
    
    <multi-checkbox [options]="categories" (selectionChanged)="filterUpdate($event)"></multi-checkbox>
    
    <div class="month-options">
        <select (change)="updateMonth($event.target.value)" [value]="currentMonth.month">
            <option *ngFor="let month of months" value="{{month}}">{{getMonthName(month)}}</option>
        </select>

        <select (change)="updateYear($event.target.value)" [value]="currentMonth.year">
            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
        </select>
    </div>
</div>

<app-progress-calendar [month]="currentMonth" [filters]="filters" [data]="data" *ngIf="isCalendar"></app-progress-calendar>
<app-progress-analysis [month]="currentMonth" [filters]="filters" [data]="data" *ngIf="!isCalendar"></app-progress-analysis>