<div class="wrapper">
    <div class="container">
        <div *ngIf="isError()" class="error">
            Invalid credentials
        </div>

        <input type="email" placeholder="E-Mail" [(ngModel)]="user.email" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" /><br />

        <div [ngSwitch]="state">
            <div *ngSwitchCase="FormState.LOGIN" (keyup.enter)="login()">
                <input type="password" placeholder="Password" [(ngModel)]="user.password" required minlength="4" #password="ngModel" /><br />
                <button (click)="login()">Login</button><br />

                <div class="validation-alert">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.pattern">E-Mail is invalid</div>
                        <div *ngIf="email.errors.required">E-Mail is required</div>
                    </div>
                    
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password has to be at least 4 characters long</div>
                    </div>
                </div>
            </div>
            
            <div *ngSwitchCase="FormState.REGISTER" (keyup.enter)="register()">
                <input type="text" placeholder="Username" [(ngModel)]="user.name" required #name="ngModel" pattern="^[\d\sa-zA-Z]{3,}$" /><br />
                <input type="password" placeholder="Password" [(ngModel)]="user.password" required minlength="4" #password="ngModel" /><br />
                <input type="password" placeholder="Repeat password" required minlength="4" ngModel="" #passwordRep="ngModel" /><br />
                <input type="submit" value="Register" (click)="register()" /><br />
                
                <div class="validation-alert">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.pattern">E-Mail is invalid</div>
                        <div *ngIf="email.errors.required">E-Mail is required</div>
                    </div>

                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required">Username is required</div>
                        <div *ngIf="name.errors.pattern">Username is invalid</div>
                    </div>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password has to be at least 4 characters long</div>
                    </div>

                    <div *ngIf="passwordRep.invalid && (passwordRep.dirty || passwordRep.touched)">
                        <div *ngIf="password.value != passwordRep.value">Passwords do not match</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>