Wecome on rsiProgress!<br />
<br />
The idea behind this website is to help you cure your injury. Of course this is not a magical solution<br />
to get rid of your problems in just one week but it should help you to be pain free one day.<br />
During my experience with RSI I realised that the mind (and therefore mental health) is an important factor<br />
in order to recover. And one of the worst things that could happen is that you loose your faith in your recovery.<br />
<br />
For me, it was very difficult to see that I was making progress. I had to start really slow after not using my
wrists for more then half a year and it felt like I was not improving at all. But I was, just very slowly but steadily.<br />
<br />
But what is this website for? This platform should help you to keep track of what you used your hands for and how much.<br />
Like some sort of diary. And over the course of several months you are able to see what progress you made and that your
wrists are getting better even if there are no major improvements over night.<br />
<br />
Good luck!