.calendar-wrapper {
    width: 100%;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

    .day {
        width: 180px;
        min-height: 140px;
        margin: 4px;
        border: 1px solid black;

        .content {
            width: 100%;
            box-sizing: border-box;

            .header {
                padding: 4px 8px 4px 8px;
                margin-bottom: 6px;

                .number {
                    font-size: 40px;
                    font-weight: 200;
                }

                .week-day {
                    margin-left: 2px;

                    font-size: 18px;
                    font-style: italic;
                    font-weight: 200;
                }
            }

            .categories {
                display: flex;
                flex-direction: column;

                .category {
                    padding: 4px;
                    border-top: 1px solid rgba(0, 0, 0, 0.5);

                    &:first-child {
                        border-top: 0px;
                    }

                    &.status-good {
                        background: rgba(44, 223, 62, 0.23);
                    }

                    &.status-middle {
                        background: rgba(255, 247, 0, 0.23);
                    }

                    &.status-bad {
                        background: rgba(241, 42, 42, 0.23);
                    }

                    .name {
                        font-size: 14px;
                        overflow: hidden;
                    }

                    .values {
                        margin-left: 6px;
                        margin-right: 6px;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-content: center;

                        div i {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    .placeholder {
        .day;
        min-height: 0px;
        height: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-color: transparent;
    }
}