<div class="calendar-wrapper">
    <div class="day" *ngFor="let i of getDaysInMonth()">
        <div class="content">
            <div class="header">
                <span class="number">{{i+1 | pad:2}}</span>
                <span class="week-day">{{dayName(i)}}</span>
            </div>

            <div class="categories" *ngIf="data.has(i)">
                <ng-container *ngFor="let category of data.get(i).categories">
                    <div *ngIf="filters.length === 0 || filters.indexOf(category.name) > -1" class="category" [class.status-good]="category.progress > 6"
                            [class.status-middle]="category.progress >= 4 && category.progress <= 6" [class.status-bad]="category.progress < 4">
                        <div class="name">{{category.name}}</div>
                        <div class="values">
                            <div>
                                <i class="fa fa-hourglass-o fa-lg" aria-hidden="true"></i>
                                {{category.time}}
                            </div>
                            <div>
                                <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                                {{category.skill}}
                            </div>
                            <div>
                                <i class="fa fa-lg" aria-hidden="true" [class.fa-smile-o]="category.pain < 4"
                                        [class.fa-meh-o]="category.pain >= 4 && category.pain <= 6" [class.fa-frown-o]="category.pain > 6"></i>
                                {{category.pain}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="placeholder" *modelRepeat="8"></div>
</div>