<div class="graphs">
    <div class="graph-wrapper" *ngFor="let graph of graphs">
        <ngx-charts-line-chart [scheme]="'cool'" [results]="graph.data" [xAxis]="'true'" [yAxis]="'true'" [showXAxisLabel]="'true'" [showYAxisLabel]="'true'"
            [xAxisLabel]="'Time'" [yAxisLabel]="graph.label" [tooltipDisabled]="'true'" [curve]="graph.curve">
        </ngx-charts-line-chart>
    </div>
    <div class="graph-wrapper text">
        <div>
            <span class="desc">Avg. pause length in days:</span>
            <span class="value">{{avgPauseLength}}</span>
            <br /><br />
            <span class="desc">Avg. days between pauses:</span>
            <span class="value">{{avgPauseBetween}}</span>
        </div>
    </div>
</div>