.graphs {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .graph-wrapper {
        width: 600px;
        height: 350px;

        &.text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .desc {
                font-size: 16px;
                margin-right: 6px;
            }

            .value {
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}