<form>
    <div class="multiselect">
        <div class="selectBox" (click)="toggle()">
            <select>
                <option>{{selectionText}}</option>
            </select>
            <div class="overSelect"></div>
        </div>

        <div class="checkboxes" *ngIf="expanded">
            <label *ngFor="let item of seletableItems">
                <input type="checkbox" (change)="onChange($event.target)" value="{{item}}" [attr.checked]="selectedItems.indexOf(item) > -1 ? 'checked' : null" />
                {{item}}
            </label>
        </div>
    </div>
</form>