@width: 150px;

form {
    display: inline-block;
}

.multiselect {
    width: @width;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    cursor: pointer;
}

.checkboxes {
    position: absolute;
    width: @width;
    box-sizing: border-box;

    border: 1px #dadada solid;
    background: white;
}

.checkboxes label {
    display: flex;
    align-items: center;
    font-size: 12px;
    
    overflow: hidden;
    cursor: pointer;
}

.checkboxes label:hover {
    background-color: rgba(30, 146, 255, 0.4);
}