.font-settings {
    font-family: 'Raleway', sans-serif;
    color: black;
}

html, body {
    margin: 0px;
    padding: 0px;

    .font-settings;
}

a, a:visited {
    color: black;
}

input:not([type="checkbox"]):not([type="radio"]), button {
    width: 300px;
    margin: 4px;
    padding: 8px;

    background: white;
    box-sizing: border-box;

    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;

    outline: none;
}

input[type="submit"], button {
    cursor: pointer;
}

button.danger {
    background: #E4252D;
    border-color: #B62E2E;
    color: #FFFFFF;
}

button.small{
    width: 100px;
}

.ng-invalid:not(.ng-untouched) {
    border-color: #EB1010;
}

.validation-alert {
    margin: 8px;
    font-size: 13px;
}